<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sunshine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sunshine"
        tools:targetApi="31">
        <service
            android:name=".SunshineSyncIntentService"
            android:exported="false"></service>
        <service
            android:name=".SunshineSyncService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.sunshine_app.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.sunshine_app.DetailActivity"
            android:exported="false"
            android:parentActivityName="com.example.sunshine_app.MainActivity" />
        <activity
            android:name="com.example.sunshine_app.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Forecast"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.example.sunshine_app.data.WeatherProvider"
            android:authorities="@string/content/content_authority"
            android:exported="false" />
    </application>

</manifest>